################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
# the project part is maybe the only one you will need to modify for a new
# project
[project]
eggs-directory=${buildout:directory}/../../eggs/cache
develop-eggs-directory=${buildout:directory}/develop-eggs

directory=${buildout:directory}/../../
dependencies=${buildout:directory}/../../dependencies
parts =
    part
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
python = python2.4
executable = python2.4
versions = versions
parts = ${project:parts}
hooks-directory = ${buildout:directory}/hooks
parts-directory = ${parts:directory}
eggs-directory = ${project:eggs-directory}
develop-eggs-directory = ${project:develop-eggs-directory}
develop =


# Set our 2.4 python
[python2.4]
executable=${project:dependencies}/python-2.4/part/bin/python
name=python2.4

[versions]
bopen.recipe.libinc = 0.2.1
hexagonit.recipe.cmmi = 1.1.1
hexagonit.recipe.download = 1.2.0
setuptools = 0.6c8

[parts]
directory=${buildout:directory}

[libnull]
location=${project:dependencies}/replace/part
include=${project:dependencies}/replace/part/include
lib=${project:dependencies}/replace/part/lib
[readline]
location=${project:dependencies}/readline-5.2/part
include=${project:dependencies}/readline-5.2/part/include
lib=${project:dependencies}/readline-5.2/part/lib
[iconv]
location=${project:dependencies}/libiconv-1.12/part
include=${project:dependencies}/libiconv-1.12/part/include
lib=${project:dependencies}/libiconv-1.12/part/lib 


[part]
recipe = minitage.recipe.cmmi
url = http://${mirrors:minitage}/distfiles/db-4.4.20.tar.gz
md5sum = 33851f01b455cca48aa601956de93c6f
# no threads support on FreeBSD
configure-options =
        --enable-compat185 --enable-cxx
        --enable-dynamic --enable-rpc --enable-pthread_api
        CFALGS="-I${readline:include}   -I${iconv:include} "
        CXXFLAGS="-I${readline:include} -I${iconv:include} "
        CPPFLAGS="-I${readline:include} -I${iconv:include} "
        LDFLAGS="-L${iconv:lib} -Wl,-rpath -Wl,${iconv:lib} -L${readline:lib} -Wl,-rpath -Wl,${readline:lib} -Wl,-rpath -Wl,${parts:directory}/part/lib $(bash -c "if [[ $(uname) == 'Darwin' ]];then echo '-mmacosx-version-min=10.5.0';fi")"
gmake=True
build-dir=${buildout:directory}/build
#patches=${buildout:directory}/patches/db-4.4-libtool.patch
patch-options=-p1

[mirrors]
#sourceforge = belnet.dl.sourceforge.net
#sourceforge = dfn.dl.sourceforge.net
sourceforge = ovh.dl.sourceforge.net
minitage = distfiles.minitage.org
plone = plone.org
zope = download.zope.org
